<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Lillian Joubert</title>
</head>
<body>
<!-- Logo for the top of the page from the Smith School. This is meant to show the origin of the project-->
<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
    width="267" height="72" alt="Smith Logo">
    <h1>About Me:</h1>

    <h2>Professional/Academic</h2>
<p>I am studying <strong>Information Systems and Accounting at the University of Maryland</strong> in College Park.
    So far, this is the <em>first</em> website I have made. The other route on the website can be found <a href="/hello"> here</a>
    My relevant courses to my Information Systems major are as follows: </p>
    <!-- This table was made to quickly show relevant courses from past classes-->
        <table>
            <tr>
                <th>Course Number</th>
                <th>Course Name</th>
                <th>Semester Taken</th>
            </tr>
            <tr>
                <td>BMGT402</td>
                <td>Database Systems</td>
                <td>Fall 2025</td>
            </tr>
            <tr>
                <td>BMGT403</td>
                <td>Systems Analysis & Design</td>
                <td>Fall 2025</td>
            </tr>
            <tr>
                <td>BMGT326</td>
                <td>Accounting Systems</td>
                <td>Spring 2026</td>
            </tr>
            <tr>
                <td>BMGT404</td>
                <td>Essential Programming Skills for Business Analytics</td>
                <td>Spring 2026</td>
            </tr>
        </table>
    <h2>Personal Interests</h2>
    <!-- The following section uses lists to show my personal interests and links to my favorite puzzle sites-->
<p>In my spare time, I love to make crafts and do puzzles. Some of my favorite things I have made are as follows.</p>
<ul>
    <li>Baby blanket for my cousin</li>
    <li>Stuffed alligator for my friend</li>
    <li>Rainbow blanket for myself</li>
    <li>Ombre scarf</li>
</ul>
<p> My favorite puzzles can usually be found online.
    My two favorites are called <strong>star battle</strong> (better known as queens on linkedIn) and <strong>nonogram</strong>.
    I usually play the games on <em>New York Times Games</em> and <em>Linkedin</em> every day, because I enjoy the fast puzzles. My top five games on those sites are as follows:</p>
<ol>
    <li>Queens</li>
    <li>The "midi" crossword</li>
    <li>Tango</li>
    <li>Connections</li>
    <li>Sudoku</li>
</ol>

<p>Nonogram and Queens are both games that require solving which squares should have an object in them.
    These are my favorite websites to play them on.</p>

<p>A link for <a href="https://www.puzzle-star-battle.com/"> Star Battle </a></p>
<p>A link for <a href="https://www.puzzle-star-battle.com/" target="_blank"> Nonogram </a></p>

</body>
</html>